<div class="container-fluid" style="background-color: #172f4ed9">
<div class="page-container  col-sm-8">
    <div class="row">
        <div class="col-sm-12">
    <div class="card">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>RollNo</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngIf="data">
                <td>{{ data }}</td>
                <td>{{ data}}</td>
                <!-- Add more table cells for other properties -->
              </tr>
        </tbody>
    </table>
   
</div>
</div>
</div>
</div>

</div>
